

.modalBackground {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;

}
  
.modalContainer{
  background-color: white;
  width: 80%;
  height: 70%;
}

.modalContainer .body{
  display: flex;
  padding: 2.8rem;
}

.modalContainer .product-images{
  width: 50%;
}

.modalContainer .product-details{
  width: 50%;
}